<div class="archive_container">

<% 
var title = ''; 
var suffix = '';
if (is_category()) {
    title = 'Category';
    suffix = ' » ' + page.category;
} else if (is_tag()) { 
    title = 'Tag';
    suffix = ' » ' + page.tag;
} else if (is_archive()) {
    if (is_current('archives/', true)) { 
%>
    <div class="archive_detail">
	<div>
	    <div class="archive_tip"> Recent Posts </div>
	    <%- list_posts({amount:20}) %>
	</div>
	<div>
	    <div class="archive_tip"> Archives </div>
	    <%- list_archives({format:'MMMM YYYY'}) %>
	</div>
    </div>
    <div>
	<div class="archive_tip"> Categories </div>
	<%- list_categories(site.categories, {style:''}) %>
    </div>
    <div>
	<div class="archive_tip"> Tags </div>
	<%- tagcloud(site.tags, {amount:100, min_font:1, max_font:3, unit:'rem'}) %>
    </div>

<%
	return;

    } else {
	title = 'Time';
	suffix = ' » ' + page.year;
    }
} 
%>

<div class="archive_tip"> 
    <a href="<%- url_for(config.archive_dir)%>"> <%= title %> </a> <%= suffix %> 
</div>

<% page.posts.each(function(post, i){ %>
<div class="archive_title"> 
    <a href="<%- url_for(post.path) %>"><%= post.title %></a> 
</div>
<div>
    <a href="<%- url_for(config.archive_dir + '/' + post.date.year()) %>"><%- date(post.date, 'YYYY/M/D') %></a> 
    <span>&raquo;<span>
    <span><%- list_categories(post.categories, {show_count: false, style: '', separator: ','}) %> </span>
    <span>&raquo;<span>
    <%- list_tags(post.tags, {show_count: false,  style: '', separator: ','})%>
</div>
<% }) %>
</div>

<% if (page.total > 1){ %>
<div class="archive_page">
<%- paginator({ prev_text: '&laquo; Prev', next_text: 'Next &raquo;', }) %>
</div>
<% } %>
